<div
  {{did-insert (fn this.isNodeOnline @url)}}
  {{did-update (fn this.isNodeOnline @url)}}
>
  {{#paper-expansion-panel as |panel|}}
    {{#panel.collapsed}}
      <div class="md-panel-header-root">
        <div class="md-panel-title">{{@name}}</div>
        <div class="md-panel-summary">{{@url}}</div>
      </div>
      <div class="md-secondary-container">
        <span class={{if online 'green-dot' 'red-dot'}}></span>
        <span class='status'>
          {{if online 'ONLINE' 'OFFLINE'}}
        </span>
      </div>
      {{paper-icon "keyboard_arrow_down"}}
    {{/panel.collapsed}}

    {{#panel.expanded as |expanded|}}
      {{#expanded.header class="md-panel-header-root"}}
        <div class="md-panel-header-root">
          <div class="md-panel-title">{{@name}}</div>
          <div class="md-panel-summary">{{@url}}</div>
        </div>
        <div class="md-secondary-container">
          <span class={{if online 'green-dot' 'red-dot'}}></span>
          <span class='status'>
            {{if online 'ONLINE' 'OFFLINE'}}
          </span>
        </div>
        {{paper-icon "keyboard_arrow_up"}}
      {{/expanded.header}}

      {{#expanded.content}}
        Nodes
      {{/expanded.content}}
    {{/panel.expanded}}
  {{/paper-expansion-panel}}
</div>
{{yield}}