<div class="container">
  <h1>Nodes</h1>
  {{#each @model as |node|}}
    <a href="#" class="node-link-container" {{ on "click" (fn this.setExpanded node) }}>
    <div class="node-container">
      <div class="left-node-container">
        <h3>
          {{node.name}}
        </h3>
        <p>
          {{node.url}}
        </p>
      </div>
      <div class="right-node-container">
        <div class="dropdown">
         <div display="flex" class="status-container" alignItems="center">
            <span class={{if node.online 'green-dot' 'red-dot'}}></span>
            <span class='text'>
              {{if node.online 'Online' 'Offline'}}
            </span>
          </div> 
        </div>
      </div>
      {{#if (eq node this.chosen)}} 
        <div class="block-container">
          <p>Blocks go here</p>
        </div>
      {{/if}}
    </div>
    </a> 
  {{/each}}
</div>
{{outlet}}